header {
    background-color: red;
    padding: 15px;
}

/* Slideshow */
.slideshow {
    overflow: hidden;
}

.slides {
    display: flex;
    animation: mover 8s infinite;
}

.slides img {
    width: 100%;
    flex-shrink: 0;
}


@keyframes mover {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}
img {
    width: 300px;
    height: 200px;
}